# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

# Virtual Environment
venv/
pollsnev/

# Media
media/

# Static files
staticfiles/

# Database
db.sqlite3

# IDE files
.vscode/
.idea/

# Compiled Python files
*.pyc

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Caches
__pycache__/
.cachetools/

# Backup files
*~

# .env file
.env

# Ignore migrations, as they can be specific to each developer's local setup
**/migrations/
